.logo
{
    width: 60px;
    height: 60px;
}
.nav-item
{
    color: black;
    font-size: 22px;
}
.nav-link:hover
{
    color: orangered !important;
}
.main-text
{
    color: rgb(42, 42, 91);
    font-weight: bold;
}
.redcol
{
    color:orangered;
}
.hero-para-text
{
    font-weight: 600;
    font-size: 20px;
}
.mybtn
{
    color: orangered!important;
    background-color: white!important;
    border-color: orangered!important;
}
.product
{
    margin-top: 25px!important;
    margin-bottom: 25px!important;
    font-weight: bold;
}
.card-img
{
    width: 100%;
    height: 200px;
    align-items: center!important;
    padding: 15px;
}
.cart-img
{
    height: 500px;
    width: 600px; 
    padding-left:100px;
}
.mybtn
{
    outline-width: 50px;
}
.bluecol
{
    color:rgb(42, 42, 91) ;
    font-weight: 400;
}
.main-text2
{
    color: orangered;
    font-weight: 400;
}
.bold
{
    font-weight: bold;
    color: orangered;
}


.bold2
{
    font-weight: bold;
    color:orangered ;
}
.bold3
{
    font-weight:600;
}